@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: calc(10px + 0.390625vw);
}
.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 100ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}
